@tailwind base;

@tailwind components;

@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	/* background: linear-gradient(
		160deg,
		rgba(119, 151, 232, 1) 0%,
		rgba(184, 168, 224, 1) 100%
	); */
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	background-size: cover;
	background-repeat: repeat;
	font-family: 'Montserrat', sans-serif;
}

.large-border-radius {
	border-radius: 4rem;
}

.medium-border-radius {
	border-radius: 2rem;
}

*:focus {
	outline: none !important;
}

.bg-primary {
	background: linear-gradient(45deg, #ee76ad 0%, #efac78 100%);
}

.btn-primary {
	background: linear-gradient(45deg, #ee76ad 0%, #efac78 100%);
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
}

.btn-primary:hover {
	background-size: 400% 100%;
}

a {
	cursor: pointer;
}
