@tailwind base;

@tailwind components;

@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	background-color: #fff5f7;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	background-size: cover;
	background-repeat: repeat;
	font-family: 'Montserrat', sans-serif;
}

.large-border-radius {
	border-radius: 4rem;
}

.medium-border-radius {
	border-radius: 2rem;
}

*:focus {
	outline: none !important;
}

.bg-primary {
	background: linear-gradient(45deg, #ee76ad 0%, #efac78 100%);
}

.btn-primary {
	background: linear-gradient(45deg, #ee76ad 0%, #efac78 100%);
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
}

.btn-primary:hover {
	background-size: 400% 100%;
}

a {
	cursor: pointer;
}

.loader {
	border: 5px solid #fed7d7;
	border-radius: 50%;
	border-top: 5px solid #feb2b2;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }